@import url(../../styles/globalStyles.css);

.navBg {
  background-color: var(--netflix-red);
  
}

.navText {
    color: var(--netflix-white) !important;
}

.navButton {
  background-color: var(--netflix-white);
  color: var(--netflix-red);
  border-radius: 20px;
  border: none;
}
