@import url(../../styles/globalStyles.css);

.navText {
  color: var(--netflix-white) !important; 
}

.navBg {
  background-color: var(--netflix-black);
  border-bottom: 7px solid #454242;
}

.form-field {
  border-radius: 40px !important;
}