.body {
    display: flex;
    flex-direction: column;
    min-height: max-content;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0px;
    padding-right: 5px;
    margin: 0px;
}

.homePoster{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    overflow: hidden;
    margin-bottom: 2rem;
}

.homePoster > img{
    position: relative;
    width: 100%;
    max-height: 42rem;
    z-index: -1;
}

.homePoster_section{
position: absolute;
width: 100%;
min-height: 42rem;
}



.homePoster_info{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    width: 50%;
    min-height: 25rem;
    z-index: 100;
    justify-content: space-between;
    align-items: center;
    background: rgba(0,0,0,0.5);
    border-radius: 15px;
    margin: 1rem;
    
}

.homePosterTittle{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
  }

.homePosterTittle > h3{
    font-size: 6rem;
    font-weight: bold;
    padding: 0rem;
    margin-bottom: -0.7rem;
  }
  
.homePosterTittle > h4{
      font-size: 2rem;
      margin: 0px;
  
}

.homePoster_carrousel{
    min-width: 100%;
    height: 20rem;
}

/* Start card poster*/

.homePosterMobile{
    display: flex;
    flex-direction: column;
    min-height: max-content;
    height: auto;
    overflow: hidden;
    margin-bottom: 2rem;
    padding: 0rem 2rem 0rem 2rem;
}

.homePosterMobile > img{
    position: relative;
    max-width: 100%;
    height: auto;
    z-index: -1;
    border-radius: 15px;
}

.PosterMobile_section{
    
display: flex;
flex-direction: column;
position: absolute;
max-width: max-content;
max-height: max-content;
padding: 1rem 2rem 1rem 2rem;
background: rgba(0,0,0,0.2);
border-radius: 15px;
margin: 1rem;
}


.PosterMobile_section > h3{
    font-size: 6rem;
    font-weight: bold;
    padding: 0rem;
    margin-bottom: -0.2rem;
  }
  
.PosterMobile_section > h4{
      font-size: 2rem;
      margin-bottom: 5rem;
  
}

/* End cardposter*/

@media screen and (max-width:700px) {
    .homePosterTittle > h3{
        font-size: 4rem;
       
      }
      
    .homePosterTittle > h4{
          font-size: 2rem;
          margin: 0px;
      
    }
    .homePoster_info{
 
        width: 60%;
 
    }
    
}

@media screen and (max-width:657px) {
    .PosterMobile_section > h3{
        font-size: 3rem;
      
      }
      
    .PosterMobile_section > h4{
          font-size: 2rem;
          margin-bottom: 2rem;
          
    
    }
    .homePosterMobile{
        padding: 0rem 0.5rem 0rem 0.5rem;
    }
    .PosterMobile_section{
    
       
        background: none;
       
        }
}

@media screen and (max-width:400px) {
    .PosterMobile_section > h3{
        font-size: 1.5rem;
      
      }
      
    .PosterMobile_section > h4{
          font-size: 1rem;
          margin-bottom: 2rem;
    
    }
    .homePosterMobile{
        padding: 0rem 0rem 0rem 0rem;
        margin: 0rem;
    }
}